<section class="work-entries">
    <ul class="work-entries-list">
        {{portfolio-item
            image="/images/portfolio-img-1.jpg"
            title="Grand Teton National Park"
            desc="Your text"
        }}
        {{portfolio-item
            image="/images/portfolio-img-2.jpg"
            title="Black Lake"
            desc="Your text"
        }}
        {{portfolio-item
            image="/images/portfolio-img-3.jpg"
            title="Rocky Mountain National Park"
            desc="Your text"
        }}
        {{portfolio-item
            image="/images/portfolio-img-1.jpg"
            title="Grand Teton National Park"
            desc="Your text"
        }}
        {{portfolio-item
            image="/images/portfolio-img-1.jpg"
            title="Grand Teton National Park"
            desc="Your text"
        }}
    </ul>
</section>
